@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #d1d2d380;
  border: 1px solid #ccc;
  text-align: left;
}

.nav-bar {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  height: 50px;
  background-color: #000;
  color: #ffffff;
}

.nav-bar > h2 {
  text-align: left;
}

.profile-img-wrapper {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  border-radius: 15px;
  /* border: 1px solid red; */
}

.profile-img {
  width: 100%;
  border-radius: 15px;
}
